In [7]:
import pandas as pd
import numpy as np
import random

In [8]:
import pymongo
from pymongo import MongoClient

In [12]:
connection = MongoClient('localhost', 27017)
# Database Name
db = connection["qbank"]
 
# Collection Name
col = db["qbank1"]
x = col.find()

for data in x:
    print(data)

In [14]:
df=pd.DataFrame(list(col.find()))
df.drop

<bound method DataFrame.drop of Empty DataFrame
Columns: []
Index: []>

In [15]:
df1=df.groupby('Marks')
df1.get_group("5")
df69=pd.DataFrame()

KeyError: 'Marks'

In [8]:
l=["5","1"]
for i in l:
    
    
    df2=(df1.get_group(i))
    
    
    
    df2=df2.drop(['_id','Paper Code','Paper Title','Name of the Program','Semester'],axis=1)
    df69=df69.append(df2,ignore_index=True)
    
    
    
    
    
    df3=df2['Question'].tolist()
   
    
    if i=="1":
        df44=random.sample(df3,5)
        
        
    elif i=="5":    
        df55=random.sample(df3,3)
        
df66=''
q=''
co=''
d=1
f=1


for i in df44:
    df88=df2.loc[df2['Question']==i]
    q=df88['Course Outcome'].tolist()
    co=df88['Marks'].tolist()
    df66+=(str(d)+'> '+i)+'           '+str(q)+'           '+str(co)+"\n"
    d+=1
df66+='-----------------------------------------------------------------------------------------------------------'
q1=''
co1=''
for i in df55:
    df89=df69.loc[df69['Question']==i]
    q1=df89['Course Outcome'].tolist()
    
    co1=df89['Marks'].tolist()
    df66+=(str(d)+'> '+i)+'           '+'['+str(q1[0])+']'+'           '+'['+str(co1[0])+']'+"\n"
    d+=1
df66+='--------------------------------------------------------------------------------------------------------------'
type(df66)

str

In [9]:
text_file=open(r"C:\Users\dasar\Desktop\College project\Question paper generator\Final(8th sem)\Generate paper\real1.txt","w",encoding="utf-8")
n=text_file.write(df66)
text_file.close()

In [10]:
from fpdf import FPDF
pdf=FPDF()
pdf.add_page()
pdf.set_font('Arial',size=15)
pdf.cell(200,10,txt="Mid sem question paper",ln=1,align='C')

f=open(r"C:\Users\dasar\Desktop\College project\Question paper generator\Final(8th sem)\Generate paper\real1.txt","r",encoding="latin-1")

for x in f:
    pdf.cell(200,10,txt=x,ln=2,align="C")

pdf.output("midsem2.pdf")

''